<!doctype html>

<!-- 
   
   HTML5 - Async Scripts
   Developed by Zeno Rocha - http://zenorocha.com 
   Fork me on Github - https://github.com/zenorocha/HTML5-Script
   
-->

<html lang="pt-BR">

<head>
	<meta charset="utf-8">
	<title>HTML5 - Async Scripts</title>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		h2 {
			font-family: arial, sans-serif;
		}

		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>

</head>

<body>

	<div id="app">

		<h2>Usuários (ordem alfabética)</h2>


		<table>
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Empresa</th>
			</tr>
			<tr v-for="item in users">
				<td>{{item.name}}</td>
				<td>{{item.email}}</td>
				<td>{{item.company.name}}</td>
			</tr>
		</table>

		<h2>Websites</h2>


		<table>
			<tr>
				<th>Nome</th>
				<th>Website</th>
			</tr>
			<tr v-for="item in websites">
				<td>{{item.name}}</td>
				<td>{{item.website}}</td>
			</tr>
		</table>

		<h2>Suites</h2>


		<table>
			<tr>
				<th>Nome</th>
				<th>Suite</th>
			</tr>
			<tr v-for="item in suites">
				<td>{{item.name}}</td>
				<td>{{item.suite}}</td>
			</tr>
		</table>



	</div>


	<script>
		var app = new Vue({
			el: '#app',
			data: {
				suites: {},
				users: [],
				websites: {}
			},
			mounted() {
				axios
					.get('/user')
					.then(response => {
						this.suites = response.data.suites;
						this.users = response.data.users;
						this.websites = response.data.websites;
					})
			}
		})
	</script>
</body>

</html>